.page{
    display: flex;
    flex-direction: column;
    gap:20px
}

.table {
    width: auto;
    max-width: 100%;
    border-collapse: collapse;
    font-size: 0.85rem;
    line-height: 1.2;
}

.table th,
.table td {
    width: 200px;
    padding: 5px 8px;
    border: 1px solid #3a4558;
    text-align: left;
    white-space: nowrap;
}

.table input,
.table select,
.table button {
    width: 100px;
    padding: 4px 6px;
    font-size: 0.8rem;
}