<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ステータス上昇ルール</title>
</head>
<body>
    <h2>ステータス上昇ルール管理</h2>

    <form method="POST" action="{{url_for('admin_add_status_rules')}}">
        <select name="category_id">
            {% for category in master_categories %}
            <option value="{{category[0]}}">
                {{category[0]}} : {{category[1]}}
            </option>
            {% endfor %}
        </select>
        <select name="status_id">
            {% for status in master_statuses %}
            <option value="{{status[0]}}">
                {{status[0]}}:{{status[1]}}:{{status[2]}}
            </option>
            {% endfor %}
        </select> 
        <input type="number" name="gain_per_hours" placeholder="上昇量/h" required>
        <button type="submit">追加</button>
    </form>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>カテゴリーID</th>
            <th>カテゴリー名</th>
            <th>ステータスID</th>
            <th>ステータス名</th>
            <th>上昇量/h</th>
        </tr>

        {% for id,category_id,category_name,status_id,status_name,gain_per_hours in master_status_rules %}
        <tr>
            <td>{{id}}</td>
            <td>{{category_id}}</td>
            <td>{{category_name}}</td>
            <td>{{status_id}}</td>
            <td>{{status_name}}</td>
            <td>{{gain_per_hours}}</td>
            <td>
            <form method="POST" action="{{url_for('admin_delete_status_rules')}}">
                <input type="hidden" name="category_id" value="{{category_id}}">
                <input type="hidden" name="status_id" value="{{status_id}}">
                <button type="submit">削除</button>
            </form>
        </tr>
        {% endfor %}
    </table>

    <a href="{{url_for('admin_index')}}">管理画面へ戻る</a>

</body>
</html>