@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

body {
  margin: 0;
  background: #262d4a;
  color: white;
}

.app {
  min-height: 100vh;
  display: grid;
  place-items: center;
}